name: Terraform validate

on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: Workflow
    runs-on: self-hosted
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: tt
      run:  curl http://169.254.169.254/latest/meta-data/local-ipv4
    
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        known_hosts: 54.226.145.239
        if_key_exists: ignore 
    - name: rsync over ssh
      run: ls -al 
      #rsync ./tt 3.88.142.183:/home/ec2-user/