name: Terraform validate

on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: Workflow
    runs-on: self-hosted
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: Operations
      run: ls -al
