name: Terraform validate

on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: Workflow
    runs-on: self-hosted
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: Operations
      uses: alinz/ssh-scp-action@master
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        host: 54.226.145.239
        port: 22
        user: ec2-user
    # runs this on remove server
        ssh_after: |
          ls -la
