name: Terraform validate

on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: Workflow
    runs-on: self-hosted
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: tt
      run:  curl http://169.254.169.254/latest/meta-data/local-ipv4
    


    - name: copy file via ssh password
      uses: appleboy/scp-action@master
      with:
        host: 54.226.145.239
        username: ec2-user
        key: ${{ secrets.SSH_PRIVATE_KEY }}  
        port: 22
        source: "./tt"
        target: "/home/ec2-user"