name: Terraform validate

on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: Workflow
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: Test 
      id: fmt
      run: echo ${GITHUB_REPOSITORY##*/} 