name: Terraform validate

on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: Workflow
    runs-on: self-hosted
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: tt
      run:  curl http://169.254.169.254/latest/meta-data/local-ipv4
    


    - name: Operations
      uses: alinz/ssh-scp-action@master
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        host: 54.226.145.239
        port: 22
        user: ec2-user
        scp: |
          tt ec2-user@54.226.145.239:/home/ec2-user
          1 ec2-user@54.226.145.239:/home/ec2-user
        ssh_after: |
          ls -la
          curl http://169.254.169.254/latest/meta-data/local-ipv4